{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'base.css' %}" />
  <title>Home</title>
</head>

<body>
  <div class="progress"></div>
  <div class="Navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="mr-3" href="{% url 'index' %}">
          <img src="{% static 'img/logo.png'%}" / height="60px">
        </a>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hot_module' %}">Hot Module</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hospital_search' %}">Searching</a>
            </li>
            {% if not user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'book_slot' %}">Book Slot</a>
            </li>
            {% endif %}
            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_test' %}">Add Test</a>
            </li>
            {% endif %}
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto nav-flex-icons">
            </ul>
          </div>
          {% endif %}
          <div class="navbar-nav ml-auto">
  
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
            <a class="nav-link">{{ user.username }}</a>
            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden">
            </form>
            {% else %}
            <div class="ui compact menu">
              <div role="listbox" aria-expanded="false" class="ui item simple dropdown" tabindex="0">
                <div aria-atomic="true" aria-live="polite" role="alert" class="divider text">Register</div><i
                  aria-hidden="true" class="dropdown icon"></i>
                <div class="menu transition">
                  <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="true"
                    class="selected item"><a href="{% url 'User_Register' %}" class="text">User</a></div>
                  <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="false" class="item">
                    <a href="{% url 'Lab_Register' %}" class="text">Hospital</a>
                  </div>
                </div>
              </div>
            </div>
            <a class="nav-link" href="{% url 'Lab_Login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
  </nav>
  </div>



  <div class="container">
    <div id="alert-msg" class="alert-dismissible fade mt-3" role="alert">
      <div id="msg"></div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container" style="padding-top: 0px;">
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" or message.tags == "info"  %}
            <div style="text-align: center" class="alert alert-success alert-dismissible fade show" role="alert">
              
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% else %}  
            <div style="text-align: center" class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>


    {% block content%}
    {% endblock %}
  </div>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>