{% extends 'base.html' %}
{% block content%}

{% load static %}

<div class="container">
    <div class="col-6">
        <h1><Strong>Book Slot</Strong></h1><br>
        <form action="{% url 'book_slot' %}" class="row g-3" method="POST">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>Your form has Error!</div>
                {% for field in form %}
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
                {% endfor %}
            </div>

            {% endif %}


            <p>

            </p>
            <div class="form-group col-md-6">
                <p> <label for="employee_id">Hospital Name</label>
                    <select id="employee_id" name="employee_id" class="form-control">
                        <option>Choose Hospital..</option>
                        {% for m in hospital_list %}
                        <option value="{{ m.Hospital_ID }}">{{ m.Hospital_Name }}</option>
                        {% endfor %}
                    </select>
                </p>
            </div>

            <div class="col-md-6">
                <label for="booking_date">Booking Date</label>
                <input type="date" name="booking_date" class="form-control" required id="booking_date">
            </div>

            <div class="col-md-6">
                <label for="booking_time">Time</label>
                <input type="time" name="booking_time" class="form-control" required id="booking_time">
            </div>
            
            <div class="col-md-6 mb-5">
                <label for="test_name">Test Name</label>
                <input type="text" name="test_name" class="form-control" placeholder="Test Name" required id="test_name">
            </div>

            <p class="form-row mt-5">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>

            </p>
        </form>
    </div>
</div>
{% endblock %}