{% extends 'base.html' %}
{% block content%}

{% load static %}
<div class="Sections" style="padding-top: 2%;">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col" style="padding-left: 3%;padding-right: 3%;">
			<div class="card h-100">
				<img src="https://ps.w.org/bookit/assets/icon-256x256.png?rev=2385587" class="card-img-top" alt="..."
					style="width: 88%; height:auto; margin-left: 6%; margin-top: 2%;">
				<div class="card-body">
					<h3 Slot class="card-title">Book Slot</h3>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.</p>
				</div>
				<a href="" class="btn btn-warning" style="margin-left: 8%;margin-right: 8%; margin-bottom: 5%;">Book
					Slot</a>
			</div>
		</div>
		<div class="col" style="padding-left: 3%;padding-right: 3%;">
			<div class="card h-100">
				<img
					src="https://img.freepik.com/free-vector/map-point-location-logo_7280-2491.jpg?size=338&ext=jpg&ga=GA1.2.1381556648.1623456000"
					class="card-img-top" alt="..." style="width: 88%; height:auto; margin-left: 6%; margin-top: 2%;">
				<div class="card-body">
					<h3 class="card-title">Searching</h3>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				</div>
				<button type="button" class="btn btn-info"
					style="margin-left: 8%;margin-right: 8%; margin-bottom: 5%;">Searching</button>
			</div>
		</div>
		<div class="col" style="padding-left: 3%; padding-right: 3%;">
			<div class="card h-100">
				<img src="https://www.logolynx.com/images/logolynx/e9/e9ecb36400427385b9a6e04c4bc54a23.png" class="card-img-top"
					alt="..." style="width: 88%; height:auto; margin-left: 6%; margin-top: 2%;">
				<div class="card-body">
					<h3 class="card-title">Hot Module</h3>
					<p class="card-text">This is a section you can get latest updates on the trending Medical News.Includes latest
						upcoming and Live Medical Camps.</p>
				</div>
				<button type="button" class="btn btn-danger" style="margin-left: 8%;margin-right: 8%; margin-bottom: 5%;">Hot
					Module</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}