{% extends 'base.html' %}
{% block content%}

<style>
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    {% comment %} height: 100vh; {% endcomment %}
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

.btn-group .button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  border-radius:9px;
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
</style>

{% load static %}

<title>Lab Login</title>
<div style="font-family: 'Poppins', sans-serif;">
<img class="wave" src="{%static 'img/wave.png'%}">
	<div class="container">
		<div class="img">
			<img src="{%static 'img/bg.svg'%}">
		</div>
		<div class="login-content">
			<form action="{% url 'Lab_Login' %}" method="POST">
				<img src="{% static 'img/avatar.svg'%}">
				<h2 class="title">Welcome Back</h2>
        {% comment %} <div class="middle aligned column">
        <div class="ui compact menu" style="margin: 10px 30%;">
          <div role="listbox" aria-expanded="false" class="ui item simple dropdown" tabindex="0">
            <div aria-atomic="true" aria-live="polite" role="alert" class="ui big button">Sign Up</div><i
              aria-hidden="true" class="dropdown icon"></i>
            <div class="menu transition">
              <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="true"
                class="selected item"><a href="{% url 'User_Register' %}" class="text">User</a></div>
              <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="false" class="item">
                <a href="{% url 'Lab_Register' %}" class="text">Hospital</a>
              </div>
            </div>
          </div>
        </div>
      </div> {% endcomment %}
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input style="font-weight:600;" type="text" placeholder="" required name="username">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" required name="password">
            	   </div>
            	</div>
              <input type="submit" class="btn" value="Login">
              <div class="btn-group">
              <a href="{% url 'User_Register' %}"><button type="button" class="button" style="background-color:yellow;color:black;font-weight:700;">User Register</button></a>
              <a href="{% url 'Lab_Register' %}"><button type="button" class="button" style="margin-left:8px; background-color:#1e5878;color:white;font-weight:700;">Lab Register</button></a>
              <div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</div>
{% comment %} <div class="container">
  <div class="ui placeholder segment" style="margin: 100px;">
    <div class="ui stackable very relaxed two column grid">
      <div class="column">
        <form class="ui form" action="{% url 'Lab_Login' %}" method="POST">
          <div class="field"><label>Username</label>
            <div class="ui left icon input"><input type="text" placeholder="Username" required name="username" /><i aria-hidden="true"
                class="user icon"></i></div>
          </div>
          <div class="field"><label>Password</label>
            <div class="ui left icon input"><input type="password" required name="password" /><i aria-hidden="true" class="lock icon"></i></div>
          </div><button class="ui primary button">Login</button>
        </form>
      </div>
      <div class="middle aligned column">
        <div class="ui compact menu" style="margin: 10px 30%;">
          <div role="listbox" aria-expanded="false" class="ui item simple dropdown" tabindex="0">
            <div aria-atomic="true" aria-live="polite" role="alert" class="ui big button">Sign Up</div><i
              aria-hidden="true" class="dropdown icon"></i>
            <div class="menu transition">
              <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="true"
                class="selected item"><a href="{% url 'User_Register' %}" class="text">User</a></div>
              <div style="pointer-events:all" role="option" aria-checked="false" aria-selected="false" class="item">
                <a href="{% url 'Lab_Register' %}" class="text">Hospital</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui vertical divider">Or</div>
  </div>
  <!-- <div class="user signinBx">
    <div class="imgBx"><img src="https://cdn4.iconfinder.com/data/icons/office-people-male-avatar/128/male-31-512.png">
    </div>
    <div class="formBx">
      
    </div>
  </div>

  <div class="user signupBx">
    <div class="formBx">
      <form>
        <h2>Lab Log In</h2>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
        <p class="signup">Don't have an account ? <a href="./Lab_Register.html">Sign Up.</a></p>

        <button type="button" class="btn btn-warning" onclick="toggleForm();">User Login</button>
      </form>
    </div>
    <div class="imgBx"><img src="https://cdn6.f-cdn.com/contestentries/1804450/43682950/5f333e34a3803_thumb900.jpg">
    </div>
  </div> -->

</div> {% endcomment %}
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript">
  function toggleForm() {
    var container = document.querySelector('.container');
    container.classList.toggle('active');
  }
</script>

{% endblock %}