{% extends 'base.html' %}
{% block content%}

{% load static %}

<title>Lab Login</title>

  <div class="container">
    <div class="user signinBx">
      <div class="imgBx"><img
          src="https://cdn4.iconfinder.com/data/icons/office-people-male-avatar/128/male-31-512.png"></div>
      <div class="formBx">
        <form action="{% url 'Lab_Login' %}" method="POST">
          {% csrf_token %}
          <div class="mt-5">
            <div class="form-group">
              <input type="text" placeholder="Username" required name="username" class="form-control" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" required name="password" class="form-control" />
            </div>
            <div class="inputfield">
              <input type="submit" value="Submit" class="btn btn-primary mb-4">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="user signupBx">
      <div class="formBx">
        <form>
          <h2>Lab Log In</h2>
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" name="" value="Login">
          <p class="signup">Don't have an account ? <a href="./Lab_Register.html">Sign Up.</a></p>

          <button type="button" class="btn btn-warning" onclick="toggleForm();">User Login</button>
        </form>
      </div>
      <div class="imgBx"><img src="https://cdn6.f-cdn.com/contestentries/1804450/43682950/5f333e34a3803_thumb900.jpg">
      </div>
    </div>

  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript">
  function toggleForm() {
    var container = document.querySelector('.container');
    container.classList.toggle('active');
  }
</script>

{% endblock %}